.module_utilisateurs {
  width: 400px;
  height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.module_utilisateurs .loginInnerBox {
  table-layout: fixed;
  width: 300px;
  margin: auto;
  margin-top: 26px;
  margin-bottom: 20px;
  border: solid black 1px;
}
.module_utilisateurs .loginInnerBox .label {
  width: 120px;
  text-align: right;
  padding-right: 10px;
}
.module_utilisateurs .loginInnerBox .field {
  text-align: left;
}
.module_utilisateurs .loginInnerBox input {
  width: 160px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.page_gestionUtilisateurs [name=lst_users] {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}
.page_gestionUtilisateurs [name=lst_users] th.edit {
  height: 20px;
  width: 40px;
}
.page_gestionUtilisateurs .newUser {
  margin-top: 20px;
}



.page_gestionUtilisateurs_modifier ul {
  list-style-type: none;
  padding: 0px 0px 0px 15px;
}
.page_gestionUtilisateurs_modifier li {
  text-align: left;
}
.page_gestionUtilisateurs_modifier .userInfo {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.page_gestionUtilisateurs_modifier .userInfo table {
  table-layout: fixed;
  width: 500px;
  margin: 10px;
}
.page_gestionUtilisateurs_modifier .userInfo td {
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-top: none;
  border-left: none;
}
.page_gestionUtilisateurs_modifier .userInfo tr:last-of-type td {
  border-bottom: none;
}
.page_gestionUtilisateurs_modifier .userInfo .label {
  width: 40%;
  vertical-align: middle;
  text-align: left;
}
.page_gestionUtilisateurs_modifier .userInfo .field {
  vertical-align: middle;
  text-align: right;
  width: 60%;
}
.page_gestionUtilisateurs_modifier .userInfo .field .input {
  width: 95%;
    padding-left: 4px;
    vertical-align: middle;
    border-radius: 8px;
    background-color: #eeeeee;
}
.page_gestionUtilisateurs_modifier .userInfo .field li .input {
  width: auto;
}
.module_liste td input,
.page_livraisons_offline table td input {
  border: auto;
}